body {
  margin: 0px;
}
.test {
  width: 30%;
  height: 600px;
  display: inline-block;
}
.suggestioninput {
  margin: 5px auto;
  padding: 15px 15px 15px 10px;
}
 .suggestioninput input{
   border: none;
   background: transparent;
   border-bottom: 1px solid black;
   padding: 0 100px;
   outline: none;
 }

.picbox {
  overflow-x: scroll;
  white-space: nowrap; 
}
.picboxinner {
  margin: 10px;
  padding: 20px;
  background: black;
  display: inline-block;
}
