body {
  height: 700px;
  background: grey;
}

.test {
  width: 25.5%;
  height:690px;
  margin: 20px 5px;
  background: white;
  display: inline-block;
}

.suggestioninput {
  margin: 5px auto;
  padding: 15px 15px 15px 10px;
}

 .suggestioninput input{
   border: none;
   background: transparent;
   border-bottom: 1px solid black;
   padding-right: 175px;
   outline: none;
 }

 .boxscroll {
   height: auto;
   max-width: 345px;
   white-space: nowrap;
   overflow-x: scroll;
 }

 .ax{
  margin: 15px;
  padding: 25px 45px;
  background: red;
  display: inline-block;
 }

 .borderline {
   border: none;
   border-bottom: 1px solid black;
   background: transparent;
   margin: 0 12px;
 }

 .bordertext{
  margin: 10px;
  display: flex;
  justify-content: space-between;
 }

 .bordertext span{
   font-weight: bold;
 }

 .bordertext i {
  font-weight: 600;
 }



